<center>
<img src="../../img/ml_theme.png">
# Дополнительное профессиональное <br> образование НИУ ВШЭ
#### Программа "Практический анализ данных и машинное обучение"
<img src="../../img/faculty_logo.jpg" height="240" width="240">
## Автор материала: старший преподаватель Факультета Компьютерных Наук НИУ ВШЭ Кашницкий Юрий
</center>
Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее  задание № 9</center>
## <center>Vowpal Wabbit в задаче идентификации пользователей по посещенным веб-сайтам</center>

[Веб-форма](https://goo.gl/forms/rnUMG9jXTi2qJ6mk2) для ответов.

In [30]:
import os
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

**Считайте данные [соревнования](https://inclass.kaggle.com/c/identify-me-if-you-can-yandex-mipt/data) в DataFrame train_df и test_df (обучающая и тестовая выборки).**

In [31]:
train_df = pd.read_csv('../../data/train_sessions.csv')
test_df = pd.read_csv('../../data/test_sessions.csv')

In [32]:
train_df

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,user_id
0,1,8,2014-01-04 08:44:50,11.0,2014-01-04 08:44:50,82.0,2014-01-04 08:45:19,68.0,2014-01-04 08:45:25,8.0,...,2014-01-04 08:45:51,8403.0,2014-01-04 08:45:51,932.0,2014-01-04 08:45:53,3260.0,2014-01-04 08:45:53,8.0,2014-01-04 08:45:53,1845
1,2,111,2014-03-18 10:33:20,78.0,2014-03-18 10:33:31,151.0,2014-03-18 10:33:31,111.0,2014-03-18 10:33:31,1401.0,...,2014-03-18 10:33:32,1375.0,2014-03-18 10:33:32,38.0,2014-03-18 10:33:32,1401.0,2014-03-18 10:33:32,97.0,2014-03-18 10:33:34,3322
2,3,11,2014-12-02 13:13:41,3187.0,2014-12-02 13:13:41,132.0,2014-12-02 13:13:42,496.0,2014-12-02 13:13:42,1969.0,...,2014-12-02 13:13:45,3187.0,2014-12-02 13:13:45,82.0,2014-12-02 13:13:46,3191.0,2014-12-02 13:13:46,3184.0,2014-12-02 13:13:47,2003
3,4,668,2014-02-14 15:16:45,1965.0,2014-02-14 15:17:13,598.0,2014-02-14 15:20:47,1965.0,2014-02-14 15:21:13,284.0,...,2014-02-14 15:21:14,38.0,2014-02-14 15:21:14,4451.0,2014-02-14 15:21:14,4537.0,2014-02-14 15:21:15,11.0,2014-02-14 15:21:15,1373
4,5,1943,2014-03-17 15:19:40,1943.0,2014-03-17 15:20:10,1943.0,2014-03-17 15:21:40,1943.0,2014-03-17 15:22:10,1943.0,...,2014-03-17 15:22:39,1952.0,2014-03-17 15:22:41,1943.0,2014-03-17 15:22:41,1943.0,2014-03-17 15:22:42,1943.0,2014-03-17 15:22:43,1737
5,6,2941,2013-02-12 12:09:43,2951.0,2013-02-12 12:09:44,2958.0,2013-02-12 12:09:46,2993.0,2013-02-12 12:09:54,162.0,...,2013-02-12 12:09:55,85.0,2013-02-12 12:09:55,7.0,2013-02-12 12:09:56,2967.0,2013-02-12 12:09:56,2967.0,2013-02-12 12:09:58,1173
6,7,9996,2014-03-19 10:15:50,9996.0,2014-03-19 10:16:50,307.0,2014-03-19 10:17:19,9996.0,2014-03-19 10:17:20,280.0,...,2014-03-19 10:17:50,9996.0,2014-03-19 10:18:20,307.0,2014-03-19 10:18:41,9996.0,2014-03-19 10:18:50,9996.0,2014-03-19 10:19:20,440
7,8,19823,2013-04-12 10:52:36,19823.0,2013-04-12 10:52:37,1510.0,2013-04-12 10:53:37,32.0,2013-04-12 10:54:49,19808.0,...,2013-04-12 10:55:08,567.0,2013-04-12 10:55:57,567.0,2013-04-12 10:55:58,654.0,2013-04-12 10:55:59,567.0,2013-04-12 10:56:17,670
8,9,72,2014-02-20 11:43:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2437
9,10,32,2014-01-16 11:35:39,32.0,2014-01-16 11:35:49,561.0,2014-01-16 11:35:50,69.0,2014-01-16 11:36:17,32.0,...,2014-01-16 11:36:43,329.0,2014-01-16 11:36:56,69.0,2014-01-16 11:37:08,69.0,2014-01-16 11:37:09,329.0,2014-01-16 11:37:25,2238
10,11,7120,2014-05-27 08:40:45,7120.0,2014-05-27 08:40:53,7120.0,2014-05-27 08:40:54,11.0,2014-05-27 08:41:00,32.0,...,2014-05-27 08:41:01,7120.0,2014-05-27 08:41:08,11.0,2014-05-27 08:41:09,7103.0,2014-05-27 08:41:09,7120.0,2014-05-27 08:41:09,1760
11,12,2184,2014-01-04 23:22:50,15137.0,2014-01-04 23:22:54,16154.0,2014-01-04 23:22:55,2184.0,2014-01-04 23:22:56,15137.0,...,2014-01-04 23:23:02,2184.0,2014-01-04 23:23:03,16154.0,2014-01-04 23:23:12,2184.0,2014-01-04 23:23:13,15137.0,2014-01-04 23:23:14,3165
12,13,335,2014-02-04 09:26:31,2037.0,2014-02-04 09:26:31,12.0,2014-02-04 09:26:31,2213.0,2014-02-04 09:26:33,2037.0,...,2014-02-04 09:27:02,32.0,2014-02-04 09:27:53,16111.0,2014-02-04 09:27:53,16111.0,2014-02-04 09:27:55,16118.0,2014-02-04 09:27:55,3146
13,14,3082,2013-11-26 08:23:57,1865.0,2013-11-26 08:23:58,829.0,2013-11-26 08:23:58,1871.0,2013-11-26 08:23:58,829.0,...,2013-11-26 08:24:00,12.0,2013-11-26 08:24:00,21.0,2013-11-26 08:24:00,1866.0,2013-11-26 08:24:05,738.0,2013-11-26 08:24:05,318
14,15,55,2013-09-12 13:18:30,223.0,2013-09-12 13:18:30,884.0,2013-09-12 13:18:31,5542.0,2013-09-12 13:18:32,466.0,...,2013-09-12 13:18:33,55.0,2013-09-12 13:18:34,884.0,2013-09-12 13:18:34,883.0,2013-09-12 13:18:43,5542.0,2013-09-12 13:18:43,1957
15,16,11,2013-04-12 13:55:13,2479.0,2013-04-12 13:55:15,2479.0,2013-04-12 13:55:16,67.0,2013-04-12 13:55:16,2479.0,...,2013-04-12 13:55:20,2479.0,2013-04-12 13:55:20,2479.0,2013-04-12 13:55:21,11.0,2013-04-12 13:55:21,85.0,2013-04-12 13:55:21,568
16,17,3395,2014-05-02 08:48:00,429.0,2014-05-02 08:48:02,429.0,2014-05-02 08:48:09,429.0,2014-05-02 08:48:10,67.0,...,2014-05-02 08:48:10,3395.0,2014-05-02 08:48:10,78.0,2014-05-02 08:48:11,515.0,2014-05-02 08:48:12,151.0,2014-05-02 08:48:14,2583
17,18,488,2013-04-12 17:14:05,488.0,2013-04-12 17:14:10,488.0,2013-04-12 17:14:12,488.0,2013-04-12 17:14:13,488.0,...,2013-04-12 17:14:19,488.0,2013-04-12 17:14:20,488.0,2013-04-12 17:14:22,488.0,2013-04-12 17:14:28,488.0,2013-04-12 17:14:29,258
18,19,12091,2014-04-24 15:04:11,6278.0,2014-04-24 15:04:12,12212.0,2014-04-24 15:04:13,32.0,2014-04-24 15:04:22,11998.0,...,2014-04-24 15:04:24,932.0,2014-04-24 15:04:25,88.0,2014-04-24 15:04:25,7.0,2014-04-24 15:04:25,67.0,2014-04-24 15:04:28,2971
19,20,14517,2014-01-25 08:32:53,32.0,2014-01-25 08:32:53,14517.0,2014-01-25 08:32:55,14517.0,2014-01-25 08:33:08,2300.0,...,2014-01-25 08:33:35,2300.0,2014-01-25 08:33:36,32.0,2014-01-25 08:33:48,9190.0,2014-01-25 08:33:49,3126.0,2014-01-25 08:33:49,2836
20,21,97,2014-02-26 10:47:51,189.0,2014-02-26 10:47:51,426.0,2014-02-26 10:47:54,307.0,2014-02-26 10:47:54,189.0,...,2014-02-26 10:48:22,307.0,2014-02-26 10:48:29,189.0,2014-02-26 10:48:44,97.0,2014-02-26 10:48:51,307.0,2014-02-26 10:49:04,2643
21,22,20046,2013-04-12 15:42:30,20046.0,2013-04-12 15:42:33,20044.0,2013-04-12 15:42:34,20046.0,2013-04-12 15:42:34,12.0,...,2013-04-12 15:42:36,181.0,2013-04-12 15:42:36,34.0,2013-04-12 15:42:36,20046.0,2013-04-12 15:42:36,76.0,2013-04-12 15:42:36,754
22,23,184,2013-03-12 14:10:07,347.0,2013-03-12 14:10:15,347.0,2013-03-12 14:10:17,347.0,2013-03-12 14:10:18,347.0,...,2013-03-12 14:10:21,5348.0,2013-03-12 14:10:54,5348.0,2013-03-12 14:10:59,5348.0,2013-03-12 14:11:00,5348.0,2013-03-12 14:11:05,1531
23,24,8,2014-03-20 11:02:13,38.0,2014-03-20 11:02:13,8.0,2014-03-20 11:02:14,515.0,2014-03-20 11:02:14,38.0,...,2014-03-20 11:02:14,515.0,2014-03-20 11:02:15,20149.0,2014-03-20 11:02:16,20193.0,2014-03-20 11:02:16,20204.0,2014-03-20 11:02:16,777
24,25,27,2014-04-25 09:44:07,9.0,2014-04-25 09:44:07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1552
25,26,31,2014-11-04 13:30:09,2934.0,2014-11-04 13:31:26,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1173
26,27,11,2013-11-12 15:17:14,82.0,2013-11-12 15:17:14,32.0,2013-11-12 15:17:14,8.0,2013-11-12 15:17:15,185.0,...,2013-11-12 15:17:17,15996.0,2013-11-12 15:17:18,8.0,2013-11-12 15:17:18,148.0,2013-11-12 15:17:21,67.0,2013-11-12 15:17:23,3118
27,28,184,2013-11-22 12:12:47,20.0,2013-11-22 12:13:02,32.0,2013-11-22 12:13:02,32.0,2013-11-22 12:13:14,32.0,...,2013-11-22 12:13:17,32.0,2013-11-22 12:38:46,32.0,2013-11-22 12:38:57,8.0,2013-11-22 12:39:00,38.0,2013-11-22 12:39:58,431
28,29,2111,2014-03-19 11:04:13,8.0,2014-03-19 11:04:45,2173.0,2014-03-19 11:04:45,8.0,2014-03-19 11:04:48,67.0,...,2014-03-19 11:05:29,32.0,2014-03-19 11:05:29,38.0,2014-03-19 11:05:29,85.0,2014-03-19 11:05:30,3253.0,2014-03-19 11:05:31,2855
29,30,6198,2014-03-21 15:11:21,32.0,2014-03-21 15:11:32,1943.0,2014-03-21 15:11:46,32.0,2014-03-21 15:11:50,1943.0,...,2014-03-21 15:12:09,65.0,2014-03-21 15:12:21,1943.0,2014-03-21 15:12:34,1943.0,2014-03-21 15:12:46,1943.0,2014-03-21 15:13:04,3370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95289,95290,1942,2014-02-28 11:52:01,1942.0,2014-02-28 11:52:03,1942.0,2014-02-28 11:52:08,1942.0,2014-02-28 11:52:11,1942.0,...,2014-02-28 11:52:16,1942.0,2014-02-28 11:52:18,1942.0,2014-02-28 11:52:20,1942.0,2014-02-28 11:52:23,1942.0,2014-02-28 11:52:25,3342
95290,95291,2218,2014-12-02 10:50:39,38.0,2014-12-02 10:50:40,2149.0,2014-12-02 10:50:41,269.0,2014-12-02 10:50:43,283.0,...,2014-12-02 10:50:46,784.0,2014-12-02 10:50:48,475.0,2014-12-02 10:50:49,808.0,2014-12-02 10:50:49,5.0,2014-12-02 10:50:49,2004
95291,95292,16,2014-01-29 17:48:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964
95292,95293,88,2014-02-20 09:06:21,337.0,2014-02-20 09:06:21,3704.0,2014-02-20 09:06:21,7.0,2014-02-20 09:06:21,38.0,...,2014-02-20 09:06:22,82.0,2014-02-20 09:06:22,7336.0,2014-02-20 09:06:27,38.0,2014-02-20 09:06:28,7336.0,2014-02-20 09:06:28,1807
95293,95294,1,2014-12-02 08:16:56,4.0,2014-12-02 08:17:00,8.0,2014-12-02 08:17:01,5.0,2014-12-02 08:17:06,28.0,...,2014-12-02 08:17:06,14.0,2014-12-02 08:17:07,2103.0,2014-12-02 08:17:07,11.0,2014-12-02 08:17:07,5.0,2014-12-02 08:17:07,2439
95294,95295,2533,2014-02-14 15:31:10,2704.0,2014-02-14 15:31:10,2533.0,2014-02-14 15:31:11,244.0,2014-02-14 15:31:12,2533.0,...,2014-02-14 15:31:12,2533.0,2014-02-14 15:31:16,2533.0,2014-02-14 15:31:17,2533.0,2014-02-14 15:31:18,2704.0,2014-02-14 15:31:18,313
95295,95296,8,2014-05-14 08:16:03,32.0,2014-05-14 08:16:03,1917.0,2014-05-14 08:17:34,1917.0,2014-05-14 08:17:36,1917.0,...,2014-05-14 08:18:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1118
95296,95297,252,2014-01-29 16:44:26,65.0,2014-01-29 16:44:26,8.0,2014-01-29 16:44:26,269.0,2014-01-29 16:44:28,252.0,...,2014-01-29 16:44:32,32.0,2014-01-29 16:52:15,252.0,2014-01-29 16:52:16,8.0,2014-01-29 16:52:17,283.0,2014-01-29 16:52:19,666
95297,95298,3184,2014-06-01 13:08:42,3184.0,2014-06-01 13:08:44,496.0,2014-06-01 13:08:45,82.0,2014-06-01 13:08:45,1728.0,...,2014-06-01 13:08:46,227.0,2014-06-01 13:08:46,504.0,2014-06-01 13:08:46,3184.0,2014-06-01 13:08:55,1728.0,2014-06-01 13:08:55,2336
95298,95299,843,2014-03-21 09:00:13,77.0,2014-03-21 09:01:30,77.0,2014-03-21 09:03:37,77.0,2014-03-21 09:03:39,77.0,...,2014-03-21 09:03:41,77.0,2014-03-21 09:04:15,77.0,2014-03-21 09:04:16,77.0,2014-03-21 09:04:18,77.0,2014-03-21 09:04:19,2947
95299,95300,8,2014-07-03 16:29:08,27.0,2014-07-03 16:56:20,9.0,2014-07-03 16:56:20,1.0,2014-07-03 16:57:09,8.0,...,2014-07-03 16:57:10,30.0,2014-07-03 16:57:59,8.0,2014-07-03 16:57:59,1.0,2014-07-03 16:58:11,30.0,2014-07-03 16:58:12,2986
95300,95301,419,2014-10-01 14:39:35,419.0,2014-10-01 14:39:41,419.0,2014-10-01 14:39:44,419.0,2014-10-01 14:39:45,419.0,...,2014-10-01 14:39:48,419.0,2014-10-01 14:39:49,419.0,2014-10-01 14:39:51,419.0,2014-10-01 14:39:52,419.0,2014-10-01 14:39:53,2775
95301,95302,13098,2013-03-12 15:23:33,13098.0,2013-03-12 15:23:34,8.0,2013-03-12 15:25:33,32.0,2013-03-12 15:25:33,32.0,...,2013-03-12 15:25:35,32.0,2013-03-12 15:25:55,13095.0,2013-03-12 15:25:57,13095.0,2013-03-12 15:25:58,14671.0,2013-03-12 15:25:59,2861
95302,95303,307,2014-04-03 15:59:24,55.0,2014-04-03 15:59:24,239.0,2014-04-03 15:59:59,32.0,2014-04-03 15:59:59,32.0,...,2014-04-03 16:00:24,237.0,2014-04-03 16:00:24,32.0,2014-04-03 16:00:35,251.0,2014-04-03 16:00:35,106.0,2014-04-03 16:00:35,267
95303,95304,1480,2014-02-26 15:18:16,528.0,2014-02-26 15:18:16,858.0,2014-02-26 15:18:16,103.0,2014-02-26 15:18:16,88.0,...,2014-02-26 15:18:18,335.0,2014-02-26 15:18:19,932.0,2014-02-26 15:18:19,82.0,2014-02-26 15:18:33,1480.0,2014-02-26 15:19:17,3189
95304,95305,16,2014-10-02 16:28:41,17.0,2014-10-02 16:28:42,53.0,2014-10-02 16:28:43,6.0,2014-10-02 16:28:50,22.0,...,2014-10-02 16:29:02,22.0,2014-10-02 16:29:03,22.0,2014-10-02 16:29:06,22.0,2014-10-02 16:29:07,69.0,2014-10-02 16:29:14,74
95305,95306,320,2014-03-19 14:32:33,303.0,2014-03-19 14:32:33,352.0,2014-03-19 14:32:33,320.0,2014-03-19 14:32:34,105.0,...,2014-03-19 14:32:34,105.0,2014-03-19 14:32:35,320.0,2014-03-19 14:32:35,4.0,2014-03-19 14:32:35,311.0,2014-03-19 14:32:36,1826
95306,95307,38,2014-02-19 11:02:58,78.0,2014-02-19 11:02:58,38.0,2014-02-19 11:03:00,1375.0,2014-02-19 11:03:00,2596.0,...,2014-02-19 11:03:01,1375.0,2014-02-19 11:03:01,78.0,2014-02-19 11:03:03,12.0,2014-02-19 11:03:05,8.0,2014-02-19 11:03:15,2446
95307,95308,2595,2013-11-26 14:07:46,1017.0,2013-11-26 14:07:47,65.0,2013-11-26 14:07:47,223.0,2013-11-26 14:07:47,883.0,...,2013-11-26 14:07:48,878.0,2013-11-26 14:07:48,2571.0,2013-11-26 14:07:49,466.0,2013-11-26 14:07:50,883.0,2013-11-26 14:07:50,380
95308,95309,21406,2013-12-16 10:37:12,21406.0,2013-12-16 10:37:13,21406.0,2013-12-16 10:37:23,249.0,2013-12-16 10:39:08,249.0,...,2013-12-16 10:39:35,21406.0,2013-12-16 10:39:36,249.0,2013-12-16 10:39:45,21406.0,2013-12-16 10:40:20,249.0,2013-12-16 10:42:47,963
95309,95310,146,2014-04-18 09:37:29,32.0,2014-04-18 09:37:46,6089.0,2014-04-18 09:37:48,6091.0,2014-04-18 09:37:48,6088.0,...,2014-04-18 09:37:53,371.0,2014-04-18 09:37:54,6096.0,2014-04-18 09:38:00,6096.0,2014-04-18 09:38:11,6096.0,2014-04-18 09:38:29,1633
95310,95311,2110,2013-11-19 09:07:35,2083.0,2013-11-19 09:07:37,55.0,2013-11-19 09:08:02,65.0,2013-11-19 09:08:02,38.0,...,2013-11-19 09:09:16,6831.0,2013-11-19 09:09:32,4270.0,2013-11-19 09:09:33,4269.0,2013-11-19 09:09:33,8395.0,2013-11-19 09:09:37,318
95311,95312,55,2013-11-28 11:09:23,258.0,2013-11-28 11:09:23,38.0,2013-11-28 11:09:24,251.0,2013-11-28 11:09:27,239.0,...,2013-11-28 11:09:27,237.0,2013-11-28 11:09:30,251.0,2013-11-28 11:10:33,237.0,2013-11-28 11:10:33,258.0,2013-11-28 11:10:33,2202
95312,95313,8,2014-04-03 09:11:46,16.0,2014-04-03 09:13:32,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2122
95313,95314,38,2013-11-25 11:39:32,85.0,2013-11-25 11:39:35,38.0,2013-11-25 11:39:35,88.0,2013-11-25 11:39:36,38.0,...,2013-11-25 11:39:36,38.0,2013-11-25 11:39:37,335.0,2013-11-25 11:39:42,32.0,2013-11-25 11:39:43,82.0,2013-11-25 11:39:46,1826
95314,95315,32,2014-05-23 15:32:34,19349.0,2014-05-23 15:32:35,20078.0,2014-05-23 15:32:35,20086.0,2014-05-23 15:32:35,12.0,...,2014-05-23 15:32:35,429.0,2014-05-23 15:32:36,32.0,2014-05-23 15:32:41,32.0,2014-05-23 15:32:47,515.0,2014-05-23 15:35:32,754
95315,95316,6183,2014-03-04 09:15:38,466.0,2014-03-04 09:15:40,2509.0,2014-03-04 09:15:42,17990.0,2014-03-04 09:15:56,2509.0,...,2014-03-04 09:16:17,6183.0,2014-03-04 09:16:17,6183.0,2014-03-04 09:16:33,466.0,2014-03-04 09:16:34,6183.0,2014-03-04 09:16:49,3375
95316,95317,32,2014-02-26 10:53:25,20949.0,2014-02-26 10:53:25,20949.0,2014-02-26 10:53:26,20949.0,2014-02-26 10:53:27,20949.0,...,2014-02-26 10:53:31,38.0,2014-02-26 10:53:33,20949.0,2014-02-26 10:53:36,32.0,2014-02-26 10:55:57,521.0,2014-02-26 10:56:52,90
95317,95318,223,2014-02-26 09:04:59,466.0,2014-02-26 09:05:00,3810.0,2014-02-26 09:05:00,111.0,2014-02-26 09:05:00,11.0,...,2014-02-26 09:05:01,841.0,2014-02-26 09:05:01,3895.0,2014-02-26 09:05:02,111.0,2014-02-26 09:05:02,173.0,2014-02-26 09:05:02,1273
95318,95319,1943,2014-10-04 10:13:59,1943.0,2014-10-04 10:14:29,1943.0,2014-10-04 10:14:59,1943.0,2014-10-04 10:15:59,1943.0,...,2014-10-04 10:16:59,1943.0,2014-10-04 10:17:29,32.0,2014-10-04 10:17:54,32.0,2014-10-04 10:17:55,1943.0,2014-10-04 10:17:59,3370

**Пока в качестве признаков используем только посещенные сайты.**

**Выделите в отдельный вектор *y* ответы на обучающей выборке.**

**Выделите сайты и переведите данные в текстовый формат, который можно подать на вход `CountVectorizer`.**

Пример: первая сессия состоит из сайтов 8, 11, 82, 68, 8, 8393, 8403, 932, 3260, 8. Надо это преобразовать в строку "8 11 82 68 8 8393 8403 932 3260 8".
Кстати, это можно сделать еще на этапе чтения данных из файла.

In [33]:
y = train_df['user_id']

In [34]:
sites = ['site' + str(i) for i in range(1,11)]

In [35]:
train_df_sites = train_df[sites].astype(str).apply(" ".join, axis=1)
test_df_sites = test_df[sites].astype(str).apply(" ".join, axis=1)

In [36]:
train_df_sites.replace(to_replace=['\.0', 'nan'], value='', regex=True, inplace=True)
test_df_sites.replace(to_replace=['\.0', 'nan'], value='', regex=True, inplace=True)

In [37]:
train_sessions_text = train_df_sites.map(lambda x: x.strip())
test_sessions_text = test_df_sites.map(lambda x: x.strip())

In [38]:
train_sessions_text[:10]

0                    8 11 82 68 8 8393 8403 932 3260 8
1              111 78 151 111 1401 151 1375 38 1401 97
2           11 3187 132 496 1969 504 3187 82 3191 3184
3            668 1965 598 1965 284 668 38 4451 4537 11
4    1943 1943 1943 1943 1943 1952 1952 1943 1943 1943
5          2941 2951 2958 2993 162 2967 85 7 2967 2967
6       9996 9996 307 9996 280 9996 9996 307 9996 9996
7          19823 19823 1510 32 19808 8 567 567 654 567
8                                                   72
9                    32 32 561 69 32 329 329 69 69 329
dtype: object

**Обучите `CountVectorizer` и получите 2 разреженные матрицы, соответствующие обучающей и тетсовой выборкам.**

In [39]:
count_vectorizer = CountVectorizer()

In [40]:
X_train_sparse = count_vectorizer.fit_transform(train_sessions_text)
X_test_sparse = count_vectorizer.transform(test_sessions_text)

In [41]:
X_train_sparse.shape, X_test_sparse.shape

((95319, 21523), (41177, 21523))

**<font color='red'> Вопрос 1:</font> Укажите число признаков (столбцов) в разреженных матрицах X_train_sparse и X_test_sparse.**

**Vowpal Wabbit любит, чтоб метки классов были распределены от 1 до K, где K – число классов в задаче классификации (в нашем случае – 550). Поэтому придется применить `LabelEncoder`, да еще и +1 потом добавить (`LabelEncoder` переводит метки в диапазон от 0 до K-1).**

In [44]:
class_encoder = LabelEncoder()

In [56]:
y_for_vw = class_encoder.fit_transform(y) + 1

**Выделим обучающую и оставленную части исходной обучающей выборки.**

In [59]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train_sparse, y_for_vw, test_size=0.3, 
                                                     random_state=7, stratify=y_for_vw)

**Реализуйте функцию, переводящую разреженную матрицу в формат Vowpal Wabbit.**

Вход:
 - X_sparse – разреженная матрица SciPy.sparse.csr_matrix
 - y (необяз.) - вектор ответов. Необязателен, поскольку тестовую матрицу будем обрабатывать этой же функцией
 - out_file – путь к файлу .vw, в который будет произведена запись
 
Детали:
- можно делать по-разному, но скорее всего поможет метод *nonzero* разреженной матрицы
- в тестовой выборке на месте меток целевого класса можно писать произвольные, допустим, 1

In [ ]:
def sparse_matrix_to_vw(X_sparse, y=None, out_file='tmp.vw'):

**Примените написанную функцию к части обучащей выборки (X_train, y_train), к отложенной выборке (X_valid, y_valid), ко всей обучающей выборке (X_train_sparse, y_for_vw) и ко всей тестовой выборке X_test_sparse.**

In [ ]:
%%time
sparse_matrix_to_vw(X_train, y_train, '../../data/web_sessions_train_part.vw')
sparse_matrix_to_vw(X_valid, y_valid, '../../data/web_sessions_valid.vw')
sparse_matrix_to_vw(X_train_sparse, y_for_vw, '../../data/web_sessions_train.vw')
sparse_matrix_to_vw(X_test_sparse, out_file='../../data/web_sessions_test.vw')

In [ ]:
!head -2 ../../data/web_sessions_train_part.vw

In [ ]:
!head -2 ../../data/web_sessions_valid.vw

In [ ]:
!head -2 ../../data/web_sessions_train.vw

In [ ]:
!head -2 ../../data/web_sessions_test.vw

**Обучите модель на выборке kaggle_data/train_part.vw. Укажите, что решается задача классификации с 550 классами (--oaa), сделайте 3 прохода по выборке (--passes). Также укажите значение параметра b=26. Это число бит, используемых для хэширования, в данном случае нужно больше, чем 18 по умолчанию. Остальные параметры пока не меняйте, далее уже в свободном режиме соревнования можете попробовать другии функции потерь.**

In [ ]:
PATH_TO_DATA = '../../data'
train_part_vw = os.path.join(PATH_TO_DATA, 'web_sessions_train_part.vw')
valid_vw = os.path.join(PATH_TO_DATA, 'web_sessions_valid.vw')
train_vw = os.path.join(PATH_TO_DATA, 'web_sessions_train.vw')
test_vw = os.path.join(PATH_TO_DATA, 'web_sessions_test.vw')
model = os.path.join(PATH_TO_DATA, 'vw_model.vw')
pred = os.path.join(PATH_TO_DATA, 'vw_pred.csv')

In [ ]:
%%time
!vw ''' ВАШ КОД ЗДЕСЬ'''

**Запишите прогнозы на выборке *web_sessions_valid.vw* в *vw_pred.csv*.**

In [ ]:
%%time
!vw ''' ВАШ КОД ЗДЕСЬ'''

**Считайте прогнозы *vw_pred.csv*  из файла и посмотрите на долю правильных ответов на отложенной части.**

In [ ]:
vw_valid_pred = pd.read_csv ''' ВАШ КОД ЗДЕСЬ'''
accuracy_score ''' ВАШ КОД ЗДЕСЬ'''

**<font color='red'> Вопрос 2:</font> Какой получается доля правильных ответов на отложенной выборке?**

**Обучите модель с теми же параметрами на всей обучающей выборке – *web_sessions_train.vw*.**

In [ ]:
%%time
!vw ''' ВАШ КОД ЗДЕСЬ'''

**Сделайте прогноз для тестовой выборки.**

In [ ]:
%%time
!vw ''' ВАШ КОД ЗДЕСЬ'''

**Запишите прогноз в файл, примените обратное преобразование меток (был `LabelEncoder` и потом +1 в меткам) и отправьте решение на Kaggle в [соревновании](https://inclass.kaggle.com/c/identify-me-if-you-can-yandex-mipt/data).**

In [ ]:
def write_to_submission_file(predicted_labels, out_file,
                             target='user_id', index_label="session_id"):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [ ]:
vw_pred = pd.read_csv(pred, header=None)

In [ ]:
vw_submission = class_encoder.inverse_transform ''' ВАШ КОД ЗДЕСЬ'''

In [ ]:
write_to_submission_file(vw_subm, 'hw9_vw_submision.csv')